#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


*{
  background-color: rgb(117, 221, 205);
  font-size: 1.5vw;
}

div .app{
  border: 0.5vw solid;
  border-radius: 5vw;
  background-color: rgb(30, 5, 98);
  width: 60vw;
  height: 80vw;
  padding: 0%;
}

h1, h2, h3, h4, form, .lab, .card {
  background-color: rgb(30, 5, 98);
}

form{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.miBoton{
  font-weight: 200;
  width: 10vw;
  margin-left: 25vw;
  background-color: rgb(201, 8, 147);
  margin-top: 5vw;
}

input.in{
  width: 20vw;
  margin-left: 20vw;
  border-radius: 2vw;
  color: blue;
  font-weight: 100;
  font-style: italic;
}

h1{
  font-size: medium;
  margin-top: 10vw;
}

.error{
  background-color: azure;
  color: red;
}